@charset "utf-8";
/* CSS Document */

/*-------------reset------------*/
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,button,input,textarea,blockquote,th,td{margin:0;padding:0;}
img,fieldset,abbr,acronym{border:0;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
ol,ul,li{list-style:none outside none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,button,textarea,select{font-size:inherit;*font-size:100%;font-family:inherit; vertical-align:middle; margin:0; padding:0;outline:none;}
textarea{resize:none;}
address,cite,dfn,em,code,var,caption,th{font-style:normal;font-weight:normal;}
q:before, q:after, blockquote:before, blockquote:after {content:"";}
abbr, acronym {	border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
i{font-style:normal}
/*-------------end reset------------*/
html{height:100%}
body{font-family: "Lucida Grande", Arial, Lucida, Verdana, Helvetica, 宋体,sans-serif; font-size:12px; color:#666; line-height:1.5;}
a{ color:#336cb3; text-decoration:none;outline:none;}
a:hover{ text-decoration:underline; color:#f60;}
a.op{color:green}

.left{float:left}
.right{float:right}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.mr10{margin-right:10px}
.mr20{margin-right:20px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.clear{clear:both}
.notice{color:red}
.small{font-size:11px}
.btn-link{padding:3px 5px;background:#f3f8d7;color:green;border:1px solid #cfe35e;_padding-left:20px}
.btn-link i{_position:absolute;_margin-left:-18px}
.btn-link:hover{text-decoration:none;background:#cfe35e;color:green}
.icon{background:url(../img/icons.gif);display:-moz-inline-stack;display:inline-block;_display:inline;_zoom:1;vertical-align:middle;font-size:0;width:14px;height:14px;margin-right:5px}
.i-save{background-position:-53px -74px}
.i-info{background-position:-53px -148px}
.i-talking{background-position:-266px -74px;}
.i-talk{background-position:-159px -74px}
.i-home{background-position:-18px -148px}
.i-index{background-position:-89px -74px}
.i-tv{background-position:-87px -181px}
.i-notice{background-position:-301px -149px}
.i-home1{background-position:-124px -110px}
.i-latest{background-position:-193px -148px}
.i-top{background-position:-122px -148px}
.i-search{background-position:-301px -39px}
.i-up{background-position:-301px -4px}
.i-di{background-position:-195px -39px}
.i-new-talk{background-position:-195px -74px}
.pdf{font-size:11px;color:#f60}

#popup-msg{line-height:30px;padding:0 1em;font-size:13px;font-weight:bold;background:#FFFACD;position:fixed !important;position:absolute;top:0px;_top:expression(eval(document.documentElement.scrollTop)); -moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;z-index:10000}
#popup-msg.info{background:#fffacd;color:#000}
#popup-msg.succ{background:#21a121;color:#fff}
#popup-msg.error{background:#CC433F;color:#fff}
#popup-msg.error .error{color:#fff !important;color:red}

#top-line{display:block;height:3px;overflow:hidden;background:#F3F8D7;text-indent:-1000px}
#wrapper{width:950px;margin:0 auto}
#header{height:40px;border-bottom:1px dashed #F3F8D7;margin:0 auto;margin-bottom:10px;position:relative}
#logo{float:left}
#logo a{background:url(../img/logo_new_2.png) no-repeat left center;text-indent:-10000px;width:200px;height:40px;display:block;}
#body{}
#left{float:left;width:720px;position:relative}
#right{float:right;width:210px}
#footer{border-top:1px solid #ccc;margin:0 auto;margin-top:10px}
#footer p{margin:10px auto}
#footer p i{margin:0 5px}

#top-nav {float:left;margin-left:10px;height:40px;position:relative;top:-3px}
#top-nav li{float:left;margin-right:10px;line-height:30px;height:33px;_display:inline;}
#top-nav li a{display:block;font-size:16px;color:#000;margin-top:3px;padding:0 7px;_padding-left:25px;font-family:黑体}
#top-nav li a i.icon {margin-top:-4px;*margin-top:0;_position:absolute;_margin-left:-18px;}
#top-nav li a.sel{margin-top:0;border-top:3px solid #4CA64C;text-decoration:none;font-weight:bold}
#top-nav li a:hover{font-weight:normal;background:#F3F8D7;text-decoration:none;}
#top-nav li a.sel:hover{font-weight:bold}
#hots{position:absolute;right:0;bottom:0;height:25px;overflow:hidden;width:300px}
#hots li{line-height:25px;height:25px;padding:0 10px;white-space:nowrap;text-align:right;}
#hots li.last{}
#hots li a{padding:2px 0;}
#hots li a.works{}
#hots li a.period{color:red}
#hots li i{color:#ccc;padding:0 2px}

.addthis-bar{height:20px;padding:5px;margin-bottom:5px;background:#F3F8D7}

p.share-links{height:25px;line-height:25px;background:#F3F8D7}
p.share-links label{padding-left:10px;font-weight:bold}
p.share-links a {margin-left:10px}
p.share-links img{vertical-align:middle}

dl.right-box{margin-bottom:10px;}
dl.right-box dt{height:25px;padding-bottom:5px;line-height:25px;color:green;font-weight:bold;padding-left:0.5em;text-align:left}
dl.right-box dt strong{font-size:1.2em;margin-left:5px}
dl.right-box dt a {text-decoration:underline;font-weight:normal;margin-right:5px}
dl.right-box dd{display:block;border:0px solid #D3923E;border-top:none;}
dl.right-box dd ul{}
dl.right-box dd ul li{padding-left:5px;padding-right:5px;height:25px;overflow:hidden;line-height:25px;border-bottom:1px dotted #ccc}
dl.right-box dd ul li.last{border-bottom:none}
dl.right-box i{color:#ccc;float:right;font-size:11px}
dl.right-box a.period{color:#aaa}
dl.right-box a.sel{font-weight:bold;color:#000}

ul#tabs {height:30px;margin-bottom:10px;margin-right:20px;border-bottom:1px solid #D3923E;}
ul#tabs li{height:28px;float:left;padding:1px;position:relative;bottom:-1px;margin-right:10px;}
ul#tabs li a{display:block;width:108px;height:26px;border-top:2px solid #fff;line-height:26px;background:#fff;text-align:center;font-weight:bold;color:#333;text-decoration:none;_padding-left:18px;_width:90px;}
ul#tabs li a i.icon{_position:absolute;_margin-left:-18px}
ul#tabs li a:hover{background:#fff;color:#000;border-top-color:#D3923E}
ul#tabs li.active a{background:#fff;color:#000;border-top-color:#D3923E}
ul#tabs li.active a:hover{}
ul#tabs li.active a.close{position:absolute;right:2px;top:2px;width:16px;height:16px;line-height:16px;text-align:center;color:#ccc;background:none;border:none;margin:0}
ul#tabs li.active a.close:hover{color:#000;}

#suggest-cnt{border:1px solid #D3923E;border-bottom:none}
#search{position:absolute;right:30px;top:2px;width:200px;height:25px;background:url(../img/s_1.png) no-repeat right center}
#search #suggest-cnt{margin:1px 0 0 1px}
#search input{border:none;color:#aaa;width:170px;padding-left:5px;line-height:25px;height:25px;background:none;}
#search input.focus{color:#000}
#search button{position:absolute;right:0;top:0;width:23px;height:22px;cursor:pointer;background:none;border:none}

.suggest-items{position:absolute;z-index:1000;left:1px;top:28px;width:237px;border-style:solid;border-width:1px;border-color:#d3923e;background:#fff}
.suggest-item, .suggest-itme-selected{height:25px;line-height:25px;background:#fff;padding-left:5px;overflow:hidden}
.suggest-item span.alias{color:#aaa;margin-left:5px;}
.suggest-item-selected{background:#1586B9}
.suggest-item-selected{color:#fff}

.shelf{position:relative;background:#fff;width:100%}
.shelf .floor{background:url(../img/shelf_middle.jpg) repeat-x left bottom;margin-bottom:-15px}
.shelf .floor-right{background:url(../img/shelf_right.jpg) no-repeat right bottom;padding-right:40px}
.shelf .floor-left{height:220px;padding-left:40px;background:url(../img/shelf_left.jpg) no-repeat left bottom;}
.shelf .floor .book{float:left;margin-right:30px;}
.shelf .floor .book:hover{top:5px}
.shelf .floor .last{margin-right:0}
.shelf .next_page, .shelf .prev_page{text-indent:-10000px;position:absolute;background:url(../img/i.png) no-repeat;width:65px;height:65px;right:0px}
.shelf .next_page{background-position:-19px -175px;bottom:100px}
.shelf a.next_page:hover{background-position:-19px -323px;}
.shelf .no_next_page{background-position:-19px -23px}
.shelf .prev_page{background-position:-19px -250px;top:40px}
.shelf a.prev_page:hover{background-position:-20px -401px}
.shelf .no_prev_page{background-position:-19px -100px}
.shelf .page{position:absolute;left:0;top:0px;width:25px;height:25px;}
.shelf .page i{line-height:25px;position:absolute;width:25px;height:25px;left:0;top:0;z-index:2;font-weight:20px;font-weight:bolder;color:#fff;text-align:center;}
.shelf .page b{-moz-border-radius:2px;-webkit-border-radius:2px;position:absolute;width:25px;height:25px;left:0;top:0;background:green;opacity:0.7;filter:alpha(opacity=70);z-index:1}

.book{width:128px;height:168px;position:relative;background:url(../img/book.gif) no-repeat left top}
.book a img{width:120px;height:160px;margin:7px 7px 1px 1px}
.book span{position:absolute;overflow:hidden;height:20px;left:1px;top:147px;width:120px;text-align:center}
.book span i{background:#fff;width:100%;height:100%;position:absolute;top:0;left:0;opacity:0.8;filter:alpha(opacity=80);z-index:0}
.book span strong{position:relative;z-index:1;white-space:nowrap}
.book span strong a{color:#333}
.book span strong a.period{color:#336CB3;font-weight:normal;color:red}
.book a.add-done, .book a.add, .book a.remove{position:absolute;width:15px;height:15px;left:2px;top:8px;overflow:hidden}
.book a.add-done i,.book a.add i, .book a.remove i{position:absolute;width:15px;height:15px;left:0;top:0;z-index:2;text-indent:-100px;background:url(../img/icons.gif) no-repeat -336px -74px}
.book a.add-done b,.book a.add b, .book a.remove b{position:absolute;width:15px;height:15px;left:0;top:0;z-index:1;background:#fff;opacity:0.3;filter:alpha(opacity=30)}
.book a.add-done b, .book a.add:hover b, .book a.remove:hover b{opacity:0.8;filter:alpha(opacity=80)}
.book a.add-done b{background:#ccc}
.book a.add-done{display:none}
.book a.remove i{background-position:-300px -74px;}
.book .intro{position:absolute;z-index:100;left:135px;top:0;width:300px;height:200px;}
.book .in_right{left:auto;right:auto;left:-310px}
.book .intro b{display:block;position:absolute;z-index:0;bottom:0;right:0;width:295px;height:195px;background:#000;opacity:0.3;filter:alpha(opacity=30);}
.book .intro p{position:absolute;z-index:2;left:0;top:0;border:1px solid #999;padding:9px;width:275px;height:175px;background:#fff;line-height:21px;overflow:hidden}
.book .intro p strong{display:block;font-size:14px;font-weight:bold;line-height:25px;color:#1886B9}
.book .intro p strong em{font-size:12px;color:#aaa}
.book .intro p label{display:block;color:#999;}
.book .intro p label i{margin-left:15px}

h1#nav{font-size:18px;font-weight:bold;line-height:30px;padding-bottom:10px}
p.help{line-height:25px;border-top:1px solid #efefef;border-bottom:1px solid #efefef;background:#F3F8D7;padding-left:1em}
p.help strong{border-bottom:1px dotted #333;padding:0 1px}
p.help span{margin:0 5px}

/**index**/
#shelfs{height:410px;position:relative;overflow:hidden}
.shelf{height:410px}
#shelf-loading{position:absolute;left:0;top:0;width:100%;height:410px;z-index:100;background:#fff;opacity:0.7;filter:alpha(opacity=70);text-align:center}
#shelf-loading img{margin-top:20px}
#index p.help{margin-top:10px}
#no-books{position:absolute;top:50px;padding-left:30px;line-height:30px;}
#no-books strong{font-size:14px}
#no-books ul{padding-left:30px;}
#no-books ul li{background:url(../img/i.png) no-repeat -3px 10px;padding-left:15px;height:30px;overflow:hidden}
input.sid-input{width:100px;border:1px solid #999;height:18px;line-height:17px;}
button.sid-btn-disable, button.sid-btn{width:50px;height:20px;line-height:15px;margin-left:10px;background:#F3F8D7;border:1px solid #ccc;padding:2px 3px;cursor:pointer}
button.sid-btn-disable{color:#ccc}
.shelf-reload-cnt{position:absolute;top:20px;left:0;background:#fff;border:1px solid #ccc;padding:5px;width:170px;height:25px;}
#shortcut{-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;position:absolute;right:0;top:0;display:block;width:160px;height:25px;line-height:25px;background:green;font-weight:bold;text-decoration:none;color:#fff;text-align:center}
#help-link{-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;position:absolute;left:0;top:250px;padding:5px;display:block;width:20px;background:green;color:#fff;text-decoration:none;font-weight:bold;font-size:15px}
#help-link:hover{background:#1886B9}
#index .pages-wrapper{background:#fff;position:absolute;bottom:0;left:0;width:100%;height:19px}
#index .pages{padding-top:3px;height:16px;font-size:10px;}
#index .pages .number{-moz-border-radius:2px;-webkit-border-radius:2px;display:inline-block;*zoom:1;overflow:hidden;width:16px;height:16px;text-align:center;line-height:16px;margin-right:3px;background:#ccc;color:#fff;}
#index .pages .cur{background:green}
#index .pages a:hover{background:green;text-decoration:none}

/**works**/
#works #logo{display:none}
#works #header{height:35px}
#works #header #top-nav{margin:0}
#works #top-nav{margin-top:10px}
#works #left table{width:100%}
#works #left .addthis-bar{background:none;position:absolute;top:195px}
#periods li{background:url(../img/i.png) no-repeat -3px 5px;padding-left:15px;width:160px;float:left;height:25px;overflow:hidden;line-height:25px;text-align:left;border-bottom:1px dashed #efefef}
#periods li.new{background:url(../img/icon_3.png) no-repeat 2px -40px;}
#works h2{margin-bottom:1em;}
#works a.add, #works .add-done{margin-left:7px}
#works a.add:hover{background:#336CB3;color:#fff}
#works a.add-done{color:#999}
#works span.add-done{color:#999}
#works span.alias{margin-left:10px;font-size:12px;color:#ccc}
#works ul.pros{line-height:25px;}
#works ul.pros a.period{color:red;font-weight:normal}
#works ul.pros input.url{height:20px;padding:2px;font-size:15px;width:250px;border:0px;background:#fff;font-weight:bold;font-family:Verdana}
#works p label{margin-left:10px}
#works #left dl dt{line-height:30px;height:30px;font-weight:bold;background:#F3F8D7;font-size:13px;color:#333;margin-top:1em;text-indent:0.5em}
#works #left dl p{line-height:30px;text-indent:2em}
#works #about-author dt strong, #works #about-cate dt strong{margin-left:0;margin-right:5px}
#works li.clear{height:0px;overflow:hidden;clear:both;float:none;border:none}
#works .discussions{}
#works .discussions li{line-height:25px;border-bottom:1px dashed #fdf8d7;padding-left:0.5em;}
#works .discussions li i{color:#999;font-size:11px;margin-left:0.5em;}

/**Period**/
#period #header{display:none}
#period #wrapper{width:100%;}
#period #header, #period #footer, #period h1#nav, #period p.help{width:1000px;margin:0 auto}
#period p.help{margin-bottom:10px;}

#period #left{width:100%}
#book-imgs{background:#000;padding-bottom:20px}
div.img{width:100%;padding:25px 0;_height:130px;min-height:130px;text-align:center;background:url(../img/pic-loading.gif) no-repeat center center;position:relative}
div.img i{position:absolute;display:block;left:5px;top:25px;width:50px;height:50px;background:#999;font-size:40px;line-height:50px;color:#000;font-weight:bolder;opacity:0.7;filter:alpha(opacity=70);-moz-border-radius:3px;-webkit-border-radius:3px;}
div.img a.rl{position:absolute;padding:3px 5px;background:red;color:#fff;left:60px;top:30px;}
p#nexts, p#period-guide{text-align:center;line-height:40px;font-size:30px;}
p#nexts a, p#period-guide a{font-weight:bold;color:#ccc;}
p#period-guide {border-top:1px solid #ccc;margin-top:50px}

/**Help**/
#help textarea{width:400px;height:150px;font-size:12px;padding:5px;line-height:20px;border:1px solid #ccc}
#help textarea:focus{border-color:#999}
#help input.btn{background:green;color:#fff;padding:5px;}
#help table td{padding:5px}

/**Dict**/
#dict #logo{display:none}
#dict #header{height:35px}
#dict #header #top-nav{margin:0}
#dict #indexes{line-height:25px;padding:5px;margin:10px 0 -10px 0}
#dict #indexes a{padding:2px 3px;margin-right:3px;font-size:20px;}

#dict #left dl{margin-top:20px}
#dict #left dl dt{font-weight:bold;font-weight:bold;font-size:20px;line-height:25px;height:25px;border-bottom:1px solid #F3F8D7;text-align:left}
#dict #left dl dt a.key{float:left;background:#F3F8D7;color:#333;padding:0 6px;font-size:20px;text-decoration:none}
#dict #left dl dt a.key:hover{background:#fff}
#dict #left dl dt a{font-size:12px;font-weight:normal}
#dict #left dl dd{line-height:20px}
#dict #left dl dd table{width:100%}
#dict #left dl dd table td{text-align:left;padding:3px 10px 3px 0;border-bottom:1px dashed #efefef}
#dict #left dl dd a{text-decoration:none;}
#dict #left dl dd a.period{color:#FFB3B3}
#dict #left dl dd a.period:hover{color:red}
#dict #left dl dd a i{font-size:2em;position:relative;top:3px}
#dict #left p.more{}
#dict #left p.more a{color:#999}
#dict #left .count{float:right;font-weight:normal;font-size:12px;color:#999}

#dict #r-indexes {position:fixed;top:0px;width:210px}
#dict #r-indexes dd{padding:5px}
#dict #r-indexes a {display:inline-block;*zoom:1;width:20px;font-size:15px;text-align:center;padding:2px 3px}

/**downlaod**/
#dw #header{height:35px}
#dw #header #top-nav{margin:0}
#dw #logo{display:none}
#dw #left dl{margin-bottom:10px;line-height:20px}
#dw #left dl dt{border-bottom:1px solid #F3F8D7;text-align:left;height:25px;}
#dw #left dl dt .icon{margin-top:5px;float:left}
#dw #left dl dt strong{float:left;font-weight:normal;font-size:15px;line-height:25px;color:#666}
#dw #left dd{padding-top:10px}
#dw #left dd p.first{float:left;text-align:center;}
#dw #left dd p.first a.img-a {display:block;width:80px;padding:5px;border:1px solid #ccc}
#dw #left dd p.first img {width:80px}
#dw #left dd ul.other{float:left;margin-left:10px;width:250px;}
#dw #left dd ul.other li{line-height:20px;border-bottom:1px solid #F3F8D7}
#dw #left dd ul.other a.d-l{color:green}
