name : 笨狗 
version : 20120613
domain : bengou.com
search : 
    rule : 'http://www.bengou.com/Result?searchstr={keyword}&searchtype=name'
    keyword : |
              use Encode qw(FB_PERLQQ);
              my $string = $_;
              $string =~ s{([\x00-\x29\x2C\x3A-\x40\x5B-\x5E\x60\x7B-\x7F])}
                            {'%' . uc(unpack('H2', $1))}eg;
              return Encode::encode('ascii', $string, sub { sprintf '%%u%04X', $_[0] });
    items : 'div.endcomicscontent:eq(0) > ul > li'
    props :
        name : 'h1 a:first-child'
        cover : 'div.recommendedpic img'
        url : 'h1 a:first-child'
        last_update_period : 'h1 a:last-child'
        author : 'p:first-of-type a:first-child'
book :
    periods : '#mhlist li a:first-of-type'
    name : 'div.insideright h1'
    rule : '\d+/\w+/index\.html'
    props :
        cover : 'div.section div.recommendedpic img'
        author : 
            - selector : 'div.sectioninfo > p:contains(作.*者) a'
        status : 
            - selector : 'div.sectioninfo > p:contains(状态) a'
        cates : 
            - selector : 'div.sectioninfo > p:contains(类型) a'
        area : 
            - selector : 'div.sectioninfo > p:contains(区域) a'
        update_time : 
            - selector : 'div.sectioninfo > p:contains(更新时间) span'
            - processor : text
            - script : |
                my ($year, $month, $day) = $_ =~ /(\d+)年(\d+)月(\d+)日/; 
                return "20$year-$month-$day";
        intro : 'div.sectionabout > p:first-of-type'    
period :
    pages :
        - 'script:not([src]):eq(1)'
        - { script : '$_->text =~ m/(\d+\.html)/g' }
    rule : '\d+/\w+/\d+/\d+\.html' 
    book : 's{\d+/\d+(?=.html)}{index}'
page :
    img : '#disp'
