- name : 笨狗 
  version : 20120613
  domain : bengou.com
  search : 
    rule : 'http://www.bengou.com/Result?searchstr={keyword}&searchtype=name'
    keyword : |
              use URI::Escape::JavaScript qw/escape/;
              return escape($_);
    items : 'div.endcomicscontent > ul > li'
    props :
        name : 'h1 a:first-child'
        url : 'h1 a:first-child'
        last_update_period : 'h1 a:last-child'
        author : 'p:first-of-type a:first-child'
  book :
    periods : '#mhlist li > h3:first-child a'
    name : 'div.insideright h1'
    rule : '\d+/\w+/index\.html'
    props :
        cover : 'div.section div.recommendedpic img'
        author : 'div.sectioninfo > p:nth-of-type(1) a'
        status : 'div.sectioninfo > p:nth-of-type(2) a'
        cates : 'div.sectioninfo > p:nth-of-type(3) a'
        area : 'div.sectioninfo > p:nth-of-type(5) a'
        update_time : 'div.sectioninfo > p:nth-of-type(6) span'
        intro : 'div.sectionabout > p:first-of-type'    
  period :
    pages :
        - 'script:not([src]):eq(1)'
        - { script : '$_->text =~ m/(\d+\.html)/g' }
    rule : '\d+/\w+/\d+/\d+\.html' 
    book : 's{\d+/\d+(?=.html)}{index}'
  page :
    img : '#disp'

- name : 爱漫画
  version : 20120613
  domain : imanhua.com
  book :
    name : 'h1'
    rule : '/comic/(?<book_id>\d+)/?$'
    periods : 'ul#subBookList > li > a'
    props :
        cover : 
            - selector : 'div.bookCover img:first-child'
        author : 
            - selector : 'p.bookAttr'
            - regexp : '作者：([^<>\s]+)'
        intro :
            - selector : 'div.intro > p:first-child'
            - processor : text
        update_time :
            - selector : 'p.bookAttr'
            - regexp : '更新时间：([\d-]+)'
        status : 'p.bookAttr span:first-child em'
  period :
    rule : '/comic/(?<book_id>\d+)/list_(?<period_id>\d+).html'
    book : 's{list_\d+\.html}{}'
    pages : 
        - selector : 'script:not([src]):eq(1)'
        - processor : text
        - regexp : '(.+?);imanhua\.core\.bind'
        - processor : 'unpack'
        - regexp : '=\s*(\{.+?\}(?=;))' 
        - processor : 
            - json
            - key images
            - prefix http://t4.mangafiles.com/Files/Images/[url_info.book_id]/[url_info.period_id]/
